name: CI

on: [push, pull_request]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        otp: [22.1]
        gleam: [0.11.2, 0.12.1, 0.13.2, 0.14.0]
    steps:
      - uses: actions/checkout@v2.0.0
      - uses: gleam-lang/setup-erlang@v1.1.0
        with:
          otp-version: ${{matrix.otp}}
      - uses: gleam-lang/setup-gleam@v1.0.1
        with:
          gleam-version: ${{matrix.gleam}}
      - run: rebar3 install_deps
      - run: rebar3 eunit
      - run: gleam format --check src test
